<mat-accordion>

    <mat-expansion-panel (click)="togglePanel()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Self aware panel
            </mat-panel-title>
            <mat-panel-description>
                <p class="green" [class.red]="panelOpenState">
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </p>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p [class.myclass]="panelOpenState">I'm visible because I am open</p>
    </mat-expansion-panel>
</mat-accordion>